.content{
     color: $color-theme;
     width: 100%;

    h1{
        font-size: 3.3rem;
        color: $color-theme;
    }

    .first-p img{
     width: 100%;
     height: 100%;
    }

    .first-p p{
        line-height: 2.5rem;
        font-size: 1.7rem;
        color: $paragraph-color;
    }

    .row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        border-right: 40px;
    }


    .row img{
        width: 90%;
        height: 80%;
        border-right: 3%;
    }

    .head1 h1, .head2 h1, .head3 h1{
        color: $paragraph-color;
        font-size: 2.3rem
    }

    .reviews i{
        color: $color-theme;
        padding-left: 3rem;
        font-size: 1.9rem;
    }


}

@media only screen and (max-width: 650){
   .recent-post{
     .row{
         display: block;
         width: 100%;
     }

     .head1{
         width: 100%;
     }

     width: 100%;
}

}