.section-content{
  color: $color-theme;
  padding: 10px;

}
.first-part{
    display: flex;
    justify-content: space-between;  
    padding: 33px;  

   .col a{
      font-size: 2.2rem;
      color: $color-theme;
      color: blue
    }

    .col a img{
        width: 100%;
        height: 70%;
    }

    .col p{
    font-size: 1.9rem;
    line-height: 2.5rem;
    width: 90%;
    color: $paragraph-color;

      }

    .col img{
     width: 90%;
     height: 50%;
     padding: -5px;
       }

    .reviews i{
        color: $color-theme;
        left: 0;
        padding-left: 3rem;
    }

    &:not(:first-child){
        margin-left: 3rem;
      }


}

 .side-bar{
    border: 2px solid $paragraph-color;
    margin: 50px;   
    padding: 30px;
    width: 68%; 
    padding-left: 30px;
 }

 .side-bar h1{
     font-size: 2.7rem;
 }

 .side-bar p{
     padding: 10px;
     color: $paragraph-color;

 }
 .cat img{
     width: 100%;
 }

 .side-bar1 h1 {
     font-size: 3.2rem;
 }


//   end of first part
 .second-part{
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      margin-left: 0;
      padding-bottom: 30px;
      left: 0;
  
    .col1 a{
       font-size: 2.2rem;
       color: $color-theme;
       color: blue;
     }
  
     .col1 p{
        font-size: 1.9rem;
        line-height: 2.5rem;
        color: $paragraph-color;

  }

  .col1 img{
      width: 100%;
      height: 70%;
  }

  .reviews i{
    color: $color-theme;
    left: 0;
    padding-left: 3rem;
}

}

 .side-bar1{
     border: 2px solid $paragraph-color;
     margin: 40px;   
     padding: 10px;
     width: 90%;
     display: flex;
     flex-direction: column;
 
 .side-bar1 h1{
     font-size: 2.3rem;
 }
 .mini-a img{
     float: left;
     padding: 5px;
     margin: 4px; 
     width: 40%;
 }
 .mini-a{
     padding: 10px;
     margin: 4px;
 }

 .mini-a p{
     color: $paragraph-color;
     padding: 0.5px;
     margin: 3px; 
 }

 }


 @media only screen and (max-width: 650px) {
       .first-part{

         display: block;
         width: 100%; 

         .col h1{
             font-size: 2.5rem;
         }

         .side-bar {
             margin: 10px;
             padding: 15px;
         }
       }


       .second-part{
           display: block;
           width: 100%;
    
        .col1 h1{
            font-size: 2.5rem;
        }
        .side-bar1{
            margin: 10px;
            padding: 10px;
        }
       }
  }
  





