#menuCheck {
  display: none;
}

.menu {
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 5rem;
  width: 5rem;
}

.menu .dot {
  display: block;
  position: absolute;
  cursor: pointer;
  height: 2px;
  width: 65%;
  background-color: $color-theme;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    height: 2px;
    width: 100%;
    background-color: $color-theme;
    z-index: 10;
  }

  &::before {
    top: -0.8rem;
  }

  &::after {
    top: 0.8rem;
  }
}

nav {
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  border-bottom: 3px solid $color-theme;

  > a {
    display: inline-block;
    height: 6rem;
  }

  a {
    color: $color-theme;
    text-decoration: none;
  }

  ul {
    display: none;
    padding: 0;
    list-style: none;
    color: $color-theme;
    height: 100%;

    li {
      a {
        line-height: 8rem;
        display: inline-block;
        height: 100%;
        padding: 0 2rem;
        transition: all .2s;
      }

      &:hover a{
        background-color: $color-theme;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  nav {
    ul {
      display: flex;
    }
  }
}

@media only screen and (max-width: 750px) {
  .menu {
    display: block;
  }

  nav {
    height: auto;
    align-items: unset;

    ul {
      margin: 6rem 0 2rem 0;
      width: 100%;

      li {
        a {
          padding: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}