.section-content{
  color: $color-theme

}

// first part section
.first-part{
    display: flex;
    justify-content: space-between;    
   
   .col a{
        font-size: 2.0rem;
        color: $color-theme;
    }

    .col p{
       font-size: 1.5rem;
       line-height: 2.5rem;
       color: $paragraph-color;

   }
    .reviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
    
    i{
        color: $color-theme;

    }

    @media (max-width: 680px) {
        .reviews{
            width: 100%;
            font-size: 1.2rem;
        }

        .reviews a{
            padding: 15px;
        }
    }

}

.side-bar{
    border: 2px solid $paragraph-color;
    margin: 50px;   
    padding: 30px;
    width: 68%; 
    padding-left: 10px;


  h1{
     font-size: 2.7rem;
 }

  p{
     padding: 10px;
     color: $paragraph-color;

 }

 @media (max-width: 790px){
    
    width: 100%;
    margin: 0;
    padding: 0;
    top: 3px;
    
    p, h1{

        width: 100%;
        text-align: center;

    }


}

}

 .cat img{
    width: 100%;
}

 @media (max-width: 790px){

        display: block
 }

}


// second part
 .second-part{
      display: flex;
      justify-content: space-between;
  
    .col1 a{
       font-size: 2.0rem;
       color: $color-theme;
     }
  
     .col1 p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: $paragraph-color;

      }

      .reviews {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.3rem;
        
        i{
            color: $color-theme;
    
        }
    
        @media (max-width: 680px) {
            .reviews{
                width: 100%;
                font-size: 1.2rem;
            }
    
            .reviews a{
                padding: 15px;
            }
        }
    
    }

 .side-bar1{
     border: 2px solid $paragraph-color;
     margin: 40px;   
     padding: 10px;
 
      h1{
        font-size: 2.0rem;
       }
 
 .mini-a img{
     float: left;
     width: 30%;
     padding-right: 15px;

     @media (max-width: 790px){
         width: 100%;
         padding: 20px;

     }
 }

 .mini-a p{
     color: $paragraph-color;
     padding-top: 0;
     border: 10px;

     @media (max-width: 790px){
        width: 100%;
        padding: 20px;

    }
    
 }

 @media (max-width: 790px){
    
    width: 100%;
    margin: 0px;
    padding: 0;
    margin-top: 10px;

    h1{
        text-align: center;
    }
    
    }


}

 @media (max-width: 790px){
      display: block;
 }

}






