//grid for menu items

.gallery{
    padding:0 309px;
    margin-top:113px;
}
.gallery-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:178px;
}
.item{
    border:4px solid $color-theme;
    
}
img{
    object-fit:cover;
    width: 100%;
    height:100%;
}