//grid for menu items

.gallery{
    position:relative;
   
    padding:0 9.375em;
    margin-top:50px;
    
}
.gallery-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap:8.125em;
    grid-row-gap:9.375em;
}
.item{
    border:2px solid $color-theme;
    position:relative;
    overflow:hidden;
}
.item img{
   object-fit:cover;
    width:100%;
    transition: transform 1s;
}
.item img:hover{
    transform: scale(1.2);
}
.item h2{
    margin-top:20px;
}
.more{
    background-color:$color-theme ;
    width:35%;
    height:12%;
    float:right;
    margin:10px;
    text-align:center;
    box-shadow:2px 5px 5px rgb(168,168,168);
}
.more a{
    display:block;
    text-decoration:none;
    padding:10%;
    color:white;
    font-size:1.2em;
}


@media only screen and (max-width:1024px){

    .gallery-grid{
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap:8.125em;
    grid-row-gap:20px;
    }
}

@media only screen and (max-width:750px){
    .gallery{
        width:85%;
        padding: 0 30px;
    }
    .gallery-grid{
        grid-template-columns:repeat(1, 1fr);
    
    grid-row-gap:20px;
    }
}
