.reservation-section {
  width: 80%;
  margin: 2rem auto;
  color: $color-theme;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  .useful-info {
    display: flex;
    font-size: 1.5rem;

    .info {
      flex: 0 0 60%;
    }

    img {
      width: 40%;
      height: 25rem;
    }
  }

  .form-container {
    border: 3px solid $color-theme;
    padding: 2.5rem;

    >.form-group {
      display: flex;
      margin-top: 1.5rem;

      label {
        font-size: 1.5rem;
        font-weight: bold;
        flex: 0 0 15%;
      }

      input {
        height: 3.5rem;
      }

      textarea {
        height: 8.5rem;
      }

      input,
      select,
      textarea {
        flex: 1;
        border: 2px solid $color-theme;
      }
    }

    .quantity {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      .form-group {
        display: flex;
        flex: 0 0 50%;

        label {
          font-size: 1.5rem;
          font-weight: bold;
          flex: 0 0 30%;
        }

        input,
        select,
        textarea {
          flex: 1;
          border: 2px solid $color-theme;
        }

        select {
          height: 3.5rem;
        }

        &:not(:first-child) {
          label {
            margin-left: 2rem;
          }
        }
      }
    }

    .form-submit {
      margin-top: 1.5rem;
      display: flex;
      justify-content: flex-end;

      input {
        border: 0;
        background-color: $color-theme;
        padding: 1rem 3.5rem;
        color: white;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 750px) {
    .useful-info {
      img {
        width: 100%;
      }
    }

    & .form-container {
      .form-group {
        flex-wrap: wrap;

        label {
          flex: 0 0 100%;
          margin-bottom: 1.5rem;
        }
      }

      .quantity {
        flex-wrap: wrap;

        .form-group {
          display: flex;
          flex-wrap: wrap;
          flex: 0 0 100%;
          margin-top: 1.5rem;

          label {
            font-size: 1.5rem;
            font-weight: bold;
            flex: 0 0 100%;
          }

          &:not(:first-child) {
            label {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
